html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: stretch;

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid purple;
    background: solid black;
}

.quiz-wrapper {
    width: 65%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red;
}

.scoreboard {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid blue;
}

.question {
    height: 50%;
    width: 95%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices-wrapper {

    height: 40%;
    width: 95%;
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.choice {
    height: 40%;
    width: 48%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.choice:hover {
    cursor: pointer;
}

.level {
    margin: 2px;
    height: 8%;
    width: 80%;
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.correctChoice {
    background-color: green;
}

.incorrectChoice {
    background-color: red;
}

.correctLevel {
    color: green;
    font-weight: bold;
}

.incorrectLevel {
    color: orangered;
    font-weight: bold;
}